<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="main">
    <div class="header">
        <div class="image">
            <img src="https://bo-aws-s3-east-bucket.ibomma.day/images/logo.png" alt="image" id="image">
        </div>
        <div class="navs">
            <ul>
                <li class="home"><a routerLink="/dashboard"><i class="icon-fixed-width icon-home"></i>Home</a></li>
                <li class="about"><a routerLink='/about'><i class="icon-fixed-width icon-user"></i>About</a></li>
                <li class="bug"><a routerLink='/bug'><i class="icon-fixed-width icon-bug"></i>Bug</a></li>
            </ul>
        </div>
        <div>
            <form class="i-search" (submit)="search($event)">
                <input type="search" placeholder="Search.." name="search" required [(ngModel)]="searchquery">
                <button type="submit" class="top-search-button">
                    <svg width="13" height="13" viewBox="0 0 13 13">
                        <path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="content">
            
            <ng-container *ngIf="searched" class="photos">
                <div *ngFor="let photo of filteredPhotos" >
                    <a [routerLink]="['/dashboard', photo.id]" target="_self" >
                        <img [src]="photo.src" [alt]="photo.alt" width="200px" height="275px" >
                        <p><strong>{{ photo.alt }}</strong></p>
                    </a>
                </div>
            </ng-container>
            </div>
            
            <ng-container *ngIf="!searched">
                <h1>About</h1>
                <p>iBomma is an exclusive Telugu Movies online video streaming and download platform.</p>
                <p>Our extensive content library includes Telugu movies across genres. Our content is regularly added and is suited exclusively for the Telugu audience.</p>
                <p>Available on devices including Mobile, Tablet, Web, Laptop, and PCs, now discover and watch iBomma anywhere and everywhere. Download and watch your favorite content offline at your convenience.</p>
                <p>We offer a comfortable and friendly user experience with highly evolved video streaming technology at amazing speed and clear sounds. Navigation, Seamless Video playback, Smart Content Search & recommendation, and much more. All you need is a compatible smart mobile.</p>
                <p>¡BOMMA - Where Quality and Clarity Matters.</p>
            </ng-container>
        
    </div>

    <div class="clear">hello</div>

    <div class="footer">
        <span class="left"><a routerLink="/contact">Contact</a>|<a routerLink="/dmca">DMCA</a>|<a routerLink="/tandc">T&C</a></span>
        <span class="right"><a routerLink="/enterpage">© 2024.¡BOMMA</a></span>
    </div>
</div>
