<head>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
<div style="margin: 0;padding: 0;border: 0;">
    <div class="box">
        <p class="ibomma">iBOMMA.ONE </p><br>
        <h1 class="logo">
            <img id="logo" src='https://bo-aws-s3-east-bucket.ibomma.day/images/logo.png' alt="image">
        </h1>
        <span class="break">
        <h2>100% Telugu Entertainment</h2><br>
        <button class="enter" (click)="navigateforenter()">Enter</button>
        <p class="description">
            Watch <a href="https://vac.ibomma.day/telugu-movies/" >iBOMMA Telugu movies</a>online in excellent quality.<br>
            Exclusively designed for smartphones, tablets, and PCs.
        </p>
        </span>
    </div>
    
    <div class="footer">
        <p>© 2024 iBOMMA. All rights reserved.</p>
    </div>
</div>
</body>
